target/
.idea/
.classpath
.project
.settings/
out/
tags
world/
tmp/
*.iml

cache/

*.dat

*.mca

dependency-reduced-pom.xml
/.vs/minecraft-world-downloader/FileContentIndex/31d9ca1e-73b4-445b-b376-29a308d4dc66.vsidx
/.vs/minecraft-world-downloader/FileContentIndex/8977a8fc-6b0c-4216-ab92-5e541a41603f.vsidx
/.vs/minecraft-world-downloader/v17/.wsuo
/.vs/minecraft-world-downloader/v17/DocumentLayout.json
/.vs/minecraft-world-downloader/FileContentIndex/f90a70be-7861-4137-bf0e-60f36802bf20.vsidx
/.vs/minecraft-world-downloader/FileContentIndex/43273ec6-c40c-4657-a9e6-8519300585d0.vsidx
/.vs/minecraft-world-downloader/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
